<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">
    <script src="https://kit.fontawesome.com/1c47cb3d39.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>
<body>

    <header class="main-header">

        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre" class="logo">
            <div class="search">
                <input type="search" placeholder="Buscar productos, marcas"><button class="fas fa-search"></button>
            </div>    
            <h2 class="copy-header titular font-heading">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="#">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>        

    </header>

<!-- <section class="banner">
    <img src="/images/img-home-banner.jpg" alt="" width="100%"> -->

</section>

<h1 class="font-heading text-center">Agregar Nuevo Producto</h1>

<form action="views/crear-producto.html" method="POST" class="create-form">
    <div class="control-form">
        <label for="producto">Nombre del producto:</label>
        <input type="text" placeholder="Producto" name="producto" class="control">
    </div>

    <div class="control-form">
        <label for="precio">Precio: $ </label>
        <input type="number" placeholder="123.56" name="precio" class="control">
    </div>

    <div class="control-form">
        <label for="categoria">Categorias:</label>
        <select name="categoria" id="" class="control">
            <option value="hogar">Hogar</option>
            <option value="electro">Electro</option>
            <option value="indumentaria">Indumentaria</option>
        </select>
    </div>

    <div class="control-form">
        <label for="ciudad">Ciudad:</label>
        <select name="ciudad" id="" class="control">
            <option value="ba">Buenos Aires</option>
            <option value="ro">Rosario</option>
            <option value="me">Mendoza</option>
        </select>
    </div>

    <div class="control-form">
        <label for="descripcion">Descripción:</label>
        <textarea name="descripcion" id="" class="control"></textarea>
    </div>

    <div class="control-form">
        <label for="oferta">Está en Oferta?</label>
        <input type="radio" name="oferta">
        <input type="radio" name="sinOferta">
    </div>

    <button type="submit" class="botton-form bg-light-green">Guardar</button>
    <button type="reset" class="botton-form bg-light-green">Limpiar</button>

</form>




<footer class="bg-white">
    <div>
        <i class="footer fas fa-credit-card"></i>
        <p class="font-medium"><strong>Pagá con tarjeta o en efectivo</strong></p>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </div>

    <div>
        <i class="footer fas fa-gift"></i>
        <p class="font-medium"><strong>Envío gratis desde $ 2.500</strong></p>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </div>

    <div>
        <i class="footer fas fa-user-shield"></i>
        <p class="font-medium"><strong>Seguridad, de principio a fin</strong></p>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </div>

    <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

</footer>

</body>
</html>