<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">
    <script src="https://kit.fontawesome.com/1c47cb3d39.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>
<body>

    <header class="all-header">
        <div class="main-header bg-yellow">
            <div class="main-header-top-bar">
                <h1 class="w-50">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre" class="logo"></a>
                </h1>    
                
                <div class="search w-50">
                    <form action="/" method=""></form>
                        <input type="text" placeholder="Buscar productos, marcas" class="bg-white w-50">
                        <button class="bg-white">
                            <i class="fa fa-search bg-white"></i>
                        </button>
                    </form>
                </div>        

                <h2 class="phrase-header font-medium text-center w-100 pt">
                    <i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>

            
            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>

                <ul class="right-navbar">
                    <li><a href="/register">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>

            <a href="#" class="hamburguer-button">
                <i class="fas fa-bars text-light"></i>
            </a>
        </div>
        
        <section class="banner">
            <img src="/images/img-home-banner.jpg" class="w-100" alt="banner con publicidad">    
        </section>

    </header>
    

    <main class="container">
        <section class="pv">
            <h2 class="font-heading text-center mt">Basado en tu última visita</h2>
            <section class="all-products mt">
                <div class="wrapper">
                    <article class="product bg-white">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" class="w-100">
                        <div class="art-data">
                            <i class="fas fa-truck icon-size text-green bg-white"></i>
                            <p class="price font-big">$6.770</p>
                            <p class="off font-medium text-green">40% OFF</p>
                            <h3 class="description text-grey">Cafetera Moulinex</h3>
                        </div>
                    </article>
                </div>                        
                
                <div class="wrapper">
                    <article class="product bg-white">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019" class="w-100">
                        <div class="art-data">
                            <i class="fas fa-truck icon-size text-green bg-white"></i>
                            <p class="price font-big">$230.000</p>
                            <p class="off font-medium text-green">20% OFF</p>
                            <h3 class="description text-grey">Macbook Pro 2019</h3>
                        </div>
                    </article>
                </div>

                <div class="wrapper">
                    <article class="product bg-white">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" class="w-100">
                        <div class="art-data">
                            <i class="fas fa-truck icon-size text-green bg-white"></i>
                            <p class="price font-big">$70.500</p>
                            <p class="off font-medium text-green">10% OFF</p>
                            <h3 class="description text-grey">Samsung Galaxy S10</h3>
                        </div>
                    </article>
                </div>    

                <div class="wrapper">
                    <article class="product bg-white">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" class="w-100">
                        <div class="art-data">
                            <i class="fas fa-truck icon-size text-green bg-white"></i>
                            <p class="price font-big">$23.200</p>
                            <p class="off font-medium text-green">5% OFF</p>
                            <h3 class="description text-grey">SmartTv Samsung 43"</h3>
                        </div>
                    </article>
                </div>    
            </section>
        </section>


        <section class="pv">
            <h2 class="font-heading text-center mt">Sección Ofertas</h2>
            <section class="all-products mt">
                <div class="wrapper">
                    <article class="product bg-white">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" class="w-100">
                        <div class="art-data">
                            <i class="fas fa-truck icon-size text-green bg-white"></i>
                            <p class="price font-big">$6.770</p>
                            <p class="off font-medium text-green">40% OFF</p>
                            <h3 class="description text-grey">Cafetera Moulinex</h3>
                        </div>
                    </article>
                </div>                        
                
                <div class="wrapper">
                    <article class="product bg-white">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019" class="w-100">
                        <div class="art-data">
                            <i class="fas fa-truck icon-size text-green bg-white"></i>
                            <p class="price font-big">$230.000</p>
                            <p class="off font-medium text-green">20% OFF</p>
                            <h3 class="description text-grey">Macbook Pro 2019</h3>
                        </div>
                    </article>
                </div>

                <div class="wrapper">
                    <article class="product bg-white">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" class="w-100">
                        <div class="art-data">
                            <i class="fas fa-truck icon-size text-green bg-white"></i>
                            <p class="price font-big">$70.500</p>
                            <p class="off font-medium text-green">10% OFF</p>
                            <h3 class="description text-grey">Samsung Galaxy S10</h3>
                        </div>
                    </article>
                </div>    

                <div class="wrapper">
                    <article class="product bg-white">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" class="w-100">
                        <div class="art-data">
                            <i class="fas fa-truck icon-size text-green bg-white"></i>
                            <p class="price font-big">$23.200</p>
                            <p class="off font-medium text-green">5% OFF</p>
                            <h3 class="description text-grey">SmartTv Samsung 43"</h3>
                        </div>
                    </article>
                </div>    
            </section>
        </section>
    </main>
    

    <footer class="bg-white">
        <div class="container">
            <div class="footer-container">
                <div class="column-footer">
                    <i class="footer fas fa-credit-card"></i>
                    <p class="font-medium"><strong>Pagá con tarjeta o en efectivo</strong></p>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div>

                <div class="column-footer">
                    <i class="footer fas fa-gift"></i>
                    <p class="font-medium"><strong>Envío gratis desde $ 2.500</strong></p>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </div>

                <div class="">
                    <i class="footer fas fa-user-shield"></i>
                    <p class="font-medium"><strong>Seguridad, de principio a fin</strong></p>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </div>
            </div>
            
            <p class="copy-footer text-grey">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            
        </div>
        
    </footer>

</body>
</html>
